html, body, 
.container,
#background,
#loading-screen{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: #fff;
    margin: 1.5em 0 .5em 0;
}

div[id$="message"] {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
}

.content h3 {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2em;
    text-align: center;
    color: white;
}

.social-media-icon {
    position: relative;
    margin: 0 30px;
    font-size: 40px;
    color: white;
    
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.social-media-icon:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -mz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

#social-media-panel {
    display: flex;
    justify-content: center;
    opacity: 0;
}

#loading-screen,
#background {
    position: fixed;
    display: block;
    overflow: hidden;
}

#loading-screen {  
    z-index: 999;
    background-color: #101010;
}

#background {
    z-index: -1;
    
    background: url("/img/background.jpg");  
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-transform: scale(1.005);
    -moz-transform: scale(1.005);
    -ms-transform: scale(1.005);
    -o-transform: scale(1.005);
    transform: scale(1.005);
}

